.formularioContacto {
    background-color: $color-fondo-suave;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 1.5em;
    max-width: 1400px;
    margin-top: 0em;
}

.contactFormCont {
    background-color: $color-fondo-primario;
    color: $color-slate-100;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    grid-template-areas:
        "tituloFormContacto tituloFormContacto"
        "timbreContacto contactoInputsCont"
        "horarioContacto contactoInputsCont"
        "datosContactoForm contactoInputsCont";
}

.tituloFormContacto {
    grid-area: tituloFormContacto;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 0.5em;

    & h2 {
        color: white;
    }
}

.timbreContacto {
    grid-area: timbreContacto;
    border-bottom-left-radius: 10px;
    color: $color-amarillo-primario;
    text-align: center;
    margin: 1em;
    box-shadow: $color-contraste-primario 3px 3px 6px 0px inset, $color-contraste-suave -3px -3px 6px 1px inset;

    & img {
        width: 15em;
        max-width: 40%;
    }

    & h3,
    h5 {
        margin: 0;
        font-weight: bold;
    }
}

#horarioContacto {
    grid-area: horarioContacto;
    padding-top: 1em;
    justify-self: center;
    text-align: center;
}


.datosContactoForm {
    grid-area: datosContactoForm;
    text-align: center;
    padding: 0em;
    margin: 0;

    & h4 {
        font-weight: bold;
        text-decoration: underline;
    }

    & p {
        margin: 0;
        padding: 0;
    }

    & a {
        color: whitesmoke;
    }
}
