
#carousel-enlaces {
    width: 100%;
}

.carousel-item img {
    height: 150px;
    margin-left: 45%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: $color-contraste-suave;
    color: $color-amarillo-primario;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: $color-contraste-primario;
}


.enlacesCont {
    width: 70%;
    background-color: $color-fondo-suave;
    opacity: .8;
    margin-left: 15%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

.enlaceCard {
    /***** Forma*****/
    height: 123px;
    width: 123px;

    /**** Color ****/
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    margin: 20px;
    transition: background-color 0.2s ease-in-out;
    &:hover{
        background-color: $color-contraste-suave;
        
    }
    a img {
        width: 123px;
        height: 123px;
        transition: transform 0.2s ease-in-out;
        &:hover{
            transform: scale(1.2);
        }
    }
}



