
.indiceDoc {
    border: #000 solid 1px;
    background-color: #5752498d;
    margin-top: 10em;
    border-radius: 10px;
    label {
        color: white;
    }
}


.indiceFiltros {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.indiceFechas1 {
    display: inline-block;
}

.indiceFechas2 {
    display: inline-block;
}

#materia {
    width: 10.2em;
}

.IndiceCausantesCont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.indiceNoEditable {
    margin-top: 1em;
    background-color: #5752498d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indiceCausantes {
    width: 10em;
    margin-top: 0.5em;
    font-family: 'Noto Sans', sans-serif;
    display: block;
}





.resultados {
    // margin-left: 5%;
    margin-top: 1em;
    // width: 80%;
    border: 1px solid #575249;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 70em;
    overflow-x: scroll;
    overflow-wrap: break-word;
    overflow: scroll;
}


.miTabla {
    & td {
        border: 1px solid #ccc;
        text-align: left;
        padding: 8px;
    }
    & td:first-child {
        width: 7em;
    }
    & td:nth-child(2) {
        width: 6em;
    }
    & td:nth-child(3) {
        width: 9em;
    }
    & td:nth-child(4) {
        width: 24em;
    }
    & td:last-child {
        width: 24em;
    }
    & th {
        background-color: #000;
        color: white;
        background-color: #575249;
        color: rgb(244, 202, 88);
        border: 1px solid #ccc;
        text-align: left;
        padding: 8px;
    }
    & tr:nth-child(even) {
        background-color: rgba(220, 220, 220, 0.9);
    }
    & tr:nth-child(even) {
        background-color: rgba(220, 220, 220, 0.9);
    }
}

