
#buscaTramite {
    border-radius: 10px;
    width: 15em;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

#tramiteContainer {
    margin-top: 1em;
}

.resaltado{
    border: solid 3px rgb(244, 202, 88);
}