/****************************** Estilos globales *****************************/


* {
    /* Format reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Fuentes globales*/
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0;
}

a {
    /* estilo enlaces */
    text-decoration: none;
    color: rgb(244, 202, 88);
}

main {
    /**** Imagen de fondo para todo el sitio***/
    background-image: url(../img/moais.jpeg);
    background-size: cover;

    /* Tamaño minimo*/
    min-height: 80vh;
}

p {
    padding: 0px;
    margin: 0px;
}

.tituloPagina {
    /* Para indicar en cada pagina donde estoy*/
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 1%;
}

/****************************** Fin Estilos globales *****************************/

/****************************** Encabezado *****************************/

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    /* Fondo header */
    background-image: linear-gradient(rgba(129, 87, 56, 0.7), rgba(129, 87, 56, 0.7)), url(../img/wooden-texture.svg);
    background-repeat: repeat;
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 1%;
}


/**** Elementos header ****/


/*** Pre Encabez<do ***/
.numeroNotaria {
    /*Fondo*/
    background-color: #000;
    /*Fuente*/
    text-align: center;
    color: #b7b7b7;
}

.numeroNotaria h4 {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: large;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

/*** Logo ***/

.membrete {
    display: grid;
    padding-left: 30px;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.membrete a img {
    width: 75px;
}

.textoMembrete h1 {
    color: rgb(225, 171, 24);
    font-size: xx-large;
    margin-bottom: 0px;
}

.textoMembrete h4 {
    color: rgb(225, 171, 24);
    margin-bottom: 0px;
    font-size: medium;
}

.textoMembrete a {
    text-decoration: none;
}

/***** Barra de Nevegacion Encabezado ****/


.headerNavMenu {
    list-style: none;
    margin-bottom: 0;
}

.headerNavItem {
    display: inline-block;
}

.headerNavLink {
    background-color: #575249;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(244, 202, 88);
    font-size: large;
}

.headerNavLink:hover {
    background-color: rgb(244, 202, 88);
    color: #575249;
}

/*** Menu hamburgesa ***/

.hamburgersa {
    display: none;
    font-size: 3em;
    color: rgb(225, 171, 24);
    /* background-color: #575249; */
    /* border-radius: 10px; */
    /*     padding: 1px;
    margin: 1px;
    padd */
}



/******** media queries ***/
@media only screen and (max-width: 620px) {
    .headerNavMenu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #57524963;
        width: 50%;
        margin-left: 50%;
        padding-right: 5%;
        border-radius: 10px;
        text-align: right;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 1;
    }

    .headerNavMenu.active {
        left: 0;
    }

    .headerNavItem {
        margin: 0.3rem 0;
    }

    .hamburgersa {
        display: block;
        cursor: pointer;
    }

    .hamburgersa:hover {
        background-color: rgb(244, 202, 88);
        color: #575249;
        border: 1px solid #575249;
    }

    .fichasSinTabs {
        margin-top: 20px;
    }

}


/***** Fin Barra de Nevegacion ****/

/*********** Fin Encabezado ********/

/********** Pie de página *******/

.contenedorFooter {

    /* Fondo footer*/
    background-image: linear-gradient(rgba(120, 80, 51, 0.7), rgba(120, 80, 51, 0.7)), url(../img/wooden-texture.svg);
    background-repeat: repeat;
    background-size: cover;


}

.footercards {
    color: rgb(236, 183, 36);
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0%;
    margin-right: 0%;
}

.footercards ul {
    list-style: none;
}

.datosContacto {
    padding-bottom: 1em;
}

.datosContacto img {
    width: 25px;
}

.datosContacto h4 {
    font-weight: bold;
    text-decoration: underline;
}

.datosContacto a {
    text-decoration: none;
    color: rgb(236, 183, 36);
}

.contact_Icons {
    fill: rgb(163, 163, 66)
}

.mapa {
    text-align: center;
    padding-bottom: 1em;
}

.mapa iframe {
    border-radius: 10px;
    width: 200px;
    height: 110px;
    filter: sepia(70%)
}

.horario {
    padding-bottom: 1em;
}

.horario h4 {
    font-weight: bold;
    text-decoration: underline;
}

.horario p {
    padding: 0px;
    margin: 0px;
}

.firma {
    font-size: x-small;
    margin-bottom: 0px;
    text-align: right;
    padding-right: 5%;
}

.firma p {
    margin-top: 0rem;
}

.row {
    margin-right: 0;
}

#footerNav {
    display: none;
    background-image: linear-gradient(rgba(120, 80, 51, 0.7), rgba(120, 80, 51, 0.7)), url(../img/wooden-texture.svg);
    background-repeat: repeat;
    background-size: cover;
    background-color: rgb(160, 123, 97);
    width: 90%;
    padding-left: 5%;
}

@media only screen and (max-width: 768px) {
    #footerNav {
        display: flex;
    }
}

.footerNavMenu {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerNavItem {
    margin-bottom: 10px;
}

.footerNavLink {
    background-color: #575249;
    padding: 5px 10px;
    border: 1px solid rgb(236, 183, 36);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(244, 202, 88);
    font-size: large;

}

.footerNavLink:hover {
    background-color: rgb(244, 202, 88);
    color: #575249;
    border: 1px solid #575249;
}


/********** Fin Pie de página *******/

/******* Fin estilos Globales ***/



/******** Pagina Index *********/


.flexIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}


/* Estilos para el contenedor de pestañas */
.tabsContainer {

    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
    max-width: 1200px;
    height: 70%;
    border-radius: 10px;
    background-color: #dddddde7;

}

/****** Estilos para los botones de las pestañas ******/
.nav-link {
    /* color y forma*/
    background-color: #575249e7;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;

    /* texto     */
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: rgb(225, 171, 24);
}

.nav-link :first-child {
    padding-left: 15%;
}

.nav-link:hover {
    background-color: rgb(244, 202, 88);
    color: #b08940;
}

.nav-pills .nav-link.active {
    background-color: rgb(244, 202, 88);
    color: #575249;
}

/****** Fin Estilos para los botones de las pestañas ******/

/****** Estilos para el contenido de las tabs ******/


.tabContent {
    position: relative;
    margin: 0 auto;
}

/**** Estilo para la imagen de las tabs ****/
.tabImg {
    width: 100%;
    height: 100%;
}

/**** Estilo para el texto de las tabs****/
.tabText {
    /* Fondo */
    background-color: #dddddde7;
    padding: 1%;
    /* fuente */

    color: #171614c7;
}

.tabContent h2 {
    margin: 0px;
    font-weight: bold;
}

.tabContent p {
    margin: 0px;
    text-align: justify;
}

.tabContent .tabText {
    /* position: absolute; */
    max-height: 20%;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */

    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.fichasSinTabs {
    display: none
}

@media only screen and (max-width: 768px) {
    .fichasSinTabs {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 80%;
    }

    .tabsContainer {
        display: none;
    }
}

/******** Fin Pagina Index *********/


/******** Pagina tramites *********/

.tramitesContainerGral {
    display: flex;
    flex-direction: column;
}

#buscaTramite {
    float: right;
    margin-right: 5.5%;
    border-radius: 10px;
    width: 15em;
    padding: 5px;
}

#tramiteContainer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
}

.card {
    border: solid 1px #564b69;
    margin-top: 10px;
    background-color: #ddddddea;
}

.card img {
    height: 200px;
}

.card-title {
    font-weight: bold;
}

.card-footer {
    background-color: #575249;
    text-align: center;
    color: rgb(244, 202, 88);
}

.card-footer:hover {
    border: 1px solid #575249;
    color: #575249;
    background-color: rgb(244, 202, 88);
}



/******** Fin Pagina tramites *********/


/******* Formulario de Contacto****/

.formularioContacto {
    /* Colores y forma*/
    background-color: #ddddddbe;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    /* Tamaño y ubicacion */
    width: 60%;
    margin-left: 20%;
    padding: 20px;

    /* Grilla*/
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "formIzq formDer"
        "timbreContacto formDer";


}


.formDisplay {
    /* display: inline-block; */
    margin-top: 0px;
    background-color: #5752498d;
    color: whitesmoke;

}


.formIzq {
    grid-area: formIzq;
    /* width: 40%; */
    margin-left: 0px;
    padding-left: 10%;
    border-top-left-radius: 10px;
}

.timbreContacto {
    grid-area: timbreContacto;
    border-bottom-left-radius: 10px;
    margin-left: 0px;
    color: rgb(244, 202, 88);
    text-align: center;
    /* width: 40%; */
}


.timbreContacto img {
    width: 70%;
    padding-left: 15%;
}


.formDer {
    grid-area: formDer;
    /* width: 60%; */
    /* height: 100%; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

.formComp {
    width: 99%;
    font-family: 'Noto Sans', sans-serif;

}

form input::placeholder {
    color: grey;
}

form textarea::placeholder {
    color: gray;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 5px;

}


.botones-form {
    /* Tamaño y ubicacion */
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;


    /* Colores y forma*/
    font-size: x-large;
    background-color: #575249;
    border-radius: 10px;
    color: rgb(198, 156, 28);


}

.botones-form:hover {
    background-color: #ddd;
    border: 1px solid #575249;

}


/****** Fin Pagina Contacto**********/

/********* Pagina Indices **********/

.indiceDoc {
    border: #000 solid 1px;
    width: 80%;
    margin-left: 10%;
    background-color: #5752498d;
    border-radius: 10px;
}

.indiceDoc label {
    color: white;
}




.indiceFiltros {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.indiceFechas1 {
    display: inline-block;
}

.indiceFechas2 {
    display: inline-block;
}

#materia {
    width: 10.2em;
}

.IndiceCausantesCont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.indiceNoEditable {
    margin-top: 1em;
    background-color: #5752498d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.indiceCausantes {
    width: 10em;
    /* margin-left: 10%; */
    margin-top: 0.5em;
    font-family: 'Noto Sans', sans-serif;
    display: block;
}


.botonesIndiceCont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.botonesIndice {
    /* Tamaño y ubicacion */
    width: 9em;
    margin-top: 10px;
    padding: 5px 10px;
    /* Colores y forma*/
    font-size: large;
    background-color: #575249;
    border-radius: 10px;
    color: rgb(244, 202, 88);
}


.botonesIndice:hover {
    background-color: rgb(244, 202, 88);
    border: 1px solid #575249;
    color: #575249;
}


.resultados {
    margin-left: 10%;
    margin-top: 1em;
    /* margin-bottom: 1em; */
    width: 80%;
    border: 1px solid #575249;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 70em;
    overflow-x: scroll;
    overflow-wrap: break-word;
    overflow: scroll;
}



.indiceDoc th {
    background-color: #000;
    color: white;
    background-color: #575249;
    color: rgb(244, 202, 88);
}

.indiceDoc th,
td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}

.indiceDoc tr:nth-child(even) {
    background-color: rgba(220, 220, 220, 0.9);
}

.miTabla td:first-child {
    width: 7em;
}

.miTabla td:nth-child(2) {
    width: 6em;
}

.miTabla td:nth-child(3) {
    width: 9em;
}

.miTabla td:nth-child(4) {
    width: 24em;
}

.miTabla td:last-child {
    width: 24em;
}

/********** Fin Pagina Indices ***********/



/****************************** Pagina Enlaces *****************************/

.enlaces {
    width: 70%;
    height: 400px;
    background-color: #ddddddbe;
    margin-left: 15%;
    padding: 20px;
}

.enlaceCard {
    /***** Forma*****/
    height: 123;
    width: 123;
    display: inline-block;
    /* padding: 20px; */
    /* width: 300px; */
    /* margin: 30px; */
    /**** Color ****/
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    margin: 20px;

}

.enlaceCard img {
    width: 123px;
    height: 123px;
    /* max-width: 100px;
    max-height: 100px; */
    /* padding: 5px; */
}

.enlaceCard a:hover {
    background-color: #ddd;
    border: 1px solid #575249;
}

aside {
    background-color: #ddddddbe;
    width: 70%;
    margin-left: 15%;
    padding: 20px;
    margin-top: 20px;
}

.noticia {
    width: 80%;
    background-color: #ddd;
    margin: 15px;
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid #575249;

}

/****************************** Fin pagina Enlaces *****************************/