.card {
    border: solid 1px $color-contraste-suave;
    // margin-top: 10px;
    margin: 1rem;
    background-color: $color-fondo-suave;
    opacity: .9;
    min-width: 380px;
    // max-width: 500px;
    & img {
        height: 200px;
        overflow: hidden;
    }

    &-text {
        color: $color-slate-900;
    }

    &-title {
        font-weight: bold;
    }

    &-footer {
        background-color: $color-contraste-primario;
        text-align: center;
        color: $color-amarillo-primario;

        &:hover {
            color: $color-amarillo-secundario;
            background-color: $color-contraste-suave;
        }
    }
}

.row>*{
    margin-bottom: 1rem;
}

.noticia-cards {
    &-container {
        background-color: $color-fondo-suave;
        width: 70%;
        margin-left: 15%;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
    }

    &-item {
        width: 95%;
        background-color: $color-fondo-suave;
        margin: 1em;
        border-radius: 10px;
        border: 1px solid $color-contraste-primario;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & h3 {
            padding-left: 1em;
        }

        & p {
            padding-left: 2em;
        }

        & a {
            height: 2em;
            padding: 5px 10px;
            text-align: center;
            background-color: $color-contraste-primario;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            color: $color-amarillo-primario;

            &:hover {
                border: 1px solid $color-contraste-primario;
                color: $color-amarillo-terciario;
                background-color: $color-contraste-suave;
                text-decoration: none;
            }
        }
    }
}