// Estilos para el contenedor de pestañas 
.tabs {
    &-container {
        margin-top: 2em;
        margin-left: 15%;
        width: 70%;
        height: 75%;
    }

    &-link {
        background-color: $color-contraste-primario;
        margin-right: 1px;
        cursor: pointer;
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        font-weight: 500;
        color: $color-amarillo-primario;
        border-radius: 5px;

        &.active {
            background-color: $color-amarillo-secundario;
            color: $color-contraste-primario;
        }

        &:hover {
            background-color: $color-contraste-suave;
            color: $color-amarillo-secundario;
        }
    }
}

.nav-pills {
    color: $color-contraste-primario;
}

.tab-content {
    position: relative;
    margin: 0 auto;
}

.tabImg {
    width: 100%;
}

.tab-content .tabText {
    max-height: 20%;
    bottom: 0;
    background: $color-contraste-suave;
    /* Fallback color */
    background: $color-contraste-primario;
    opacity: .9;

    width: 100%;
    padding: 1em;

    & h2 {
        margin: 0px;
        font-weight: bold;
    }

    & p {
        margin: 0px;
        text-align: justify;
        color: $color-slate-50;
        font-weight: 400;
    }
}

.accordions-container {
    display: none;
    flex-direction: column;
    margin-left: 0%;
    width: 100%;
}