$hero-text-color: var(--#{$prefix}-hero-text-color, $color-amarillo-secundario);
$hero-gradient-start: var(--#{$prefix}-hero-gradient-start, $color-contraste-primario);
$hero-gradient-end: var(--#{$prefix}-hero-gradient-end, $color-contraste-suave);


.base {
    &-layout {
        display: flex;
        flex-direction: column;
    }

    &-frame {
        left: 0;
        right: 0;
        z-index: 9000;
        position: fixed;
        box-shadow: 0 0 1em -0.125em rgb(10 10 10 / 10%),
            0 0 0 1px rgb(10 10 10 / 2%);
        background-image: linear-gradient(rgba(129, 87, 56, 0.7), rgba(129, 87, 56, 0.7)), url(../../img/wooden-texture.svg);
        background-repeat: repeat;
        background-size: cover;
        border-bottom: 1px solid $color-contraste-primario;
    }

    &-header {
        @extend .base-frame;
        top: 0;
    }

    &-content {
        flex: 1;
        position: relative;
        margin-top: 64px;
        margin-bottom: 15%
    }

    &-footer {
        @extend .base-frame;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        bottom: 0;


        p {
            color: $color-amarillo-secundario;
            padding: 0;
            margin: 0;
        }

        h4 {
            padding: 14px;
            padding-bottom: 4px;
            margin: 0;
        }
    }
}

// HERO TITLE SECTION
.hero-section {
    padding: 60px 0px 10px;
    background-image: linear-gradient(to right, $hero-gradient-start, $hero-gradient-end);

    &-sub {
        @extend .hero-section;
        padding: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .hero-tittle {
        color: $hero-text-color;
        margin: 0 auto;
        max-width: 540px;
        text-align: center;
        line-height: $leading-tight;
        font-family: $font-primary;
        font-weight: $font-bold;
    }
}

.base-section {
    padding: 64px 0 32px;
}

@media only screen and (max-width: 1028px) {
    .base-frame {
        position: inherit;
        z-index: 1;
    }

    .base-content {
        margin-top: 0;
    }

    .hero-section {
        padding: 24px;
    }

    .formularioContacto {
        margin-top: 0em;
        margin-bottom: 18em;
    }
    .indiceDoc {
        margin-top: 0em;
        margin-bottom: 18em;
    }

}

@media only screen and (max-width: 768px) {

    .formularioContacto {
        height: auto;
        margin-top: 0;
        margin-bottom: auto;
    }
    .indiceDoc {
        height: auto;
        margin-top: 0;
        margin-bottom: auto;
    }
}