
.footercards {
    color: rgb(236, 183, 36);
    & ul {
        list-style: none;
    }
}

.datosContacto {
    & img {
        width: 25px;
    }
    & h4 {
        font-weight: bold;
        text-decoration: underline;
    }
    & a {
        text-decoration: none;
        color: rgb(236, 183, 36);
    }
}

.contact_Icons {
    fill: rgb(163, 163, 66)
}

.mapa {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    & iframe {
        border-radius: 10px;
        width: 200px;
        height: 110px;
        filter: sepia(70%)
    }
}

.horario {
    padding-bottom: 1em;
    & h4 {
        font-weight: bold;
        text-decoration: underline;
    }
    & p {
        padding: 0px;
        margin: 0px;
    }
}


.firma {
    font-size: x-small;
    margin-bottom: 0px;
    text-align: center;
    & p {
        margin-top: 0rem;
    }
}


.row {
    margin-right: 0;
}

#footerNav {
    display: none;
}

@media only screen and (max-width: 768px) {
    #footerNav {
        display: flex;
    }
    .base-footer {
        z-index: 1;
        position:inherit;
    }
}

