.contenedorFooter {
    /* Fondo footer*/
    background-image: linear-gradient(rgba(120, 80, 51, 0.7), rgba(120, 80, 51, 0.7)), url(../img/wooden-texture.svg);
    background-repeat: repeat;
    background-size: cover;
}

.footercards {
    color: rgb(236, 183, 36);
}

.footercards ul {
    list-style: none;
}

.datosContacto img {
    width: 25px;
}

.datosContacto h4 {
    font-weight: bold;
    text-decoration: underline;
}

.datosContacto a {
    text-decoration: none;
    color: rgb(236, 183, 36);
}

.contact_Icons {
    fill: rgb(163, 163, 66)
}

.mapa {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.mapa iframe {
    border-radius: 10px;
    width: 200px;
    height: 110px;
    filter: sepia(70%)
}

.horario {
    padding-bottom: 1em;
}

.horario h4 {
    font-weight: bold;
    text-decoration: underline;
}

.horario p {
    padding: 0px;
    margin: 0px;
}

.firma {
    font-size: x-small;
    margin-bottom: 0px;
    text-align: center;
}

.firma p {
    margin-top: 0rem;
}

.row {
    margin-right: 0;
}

#footerNav {
    display: none;
}

@media only screen and (max-width: 768px) {
    #footerNav {
        display: flex;
    }
    .base-footer {
        z-index: 1;
        position:inherit;
    }
}

.footerNavMenu {
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerNavItem {
    margin-bottom: 10px;
}

.footerNavLink {
    background-color: #575249;
    padding: 5px 10px;
    border: 1px solid rgb(236, 183, 36);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(244, 202, 88);
    font-size: large;

}

.footerNavLink:hover {
    background-color: rgb(244, 202, 88);
    color: #575249;
    border: 1px solid #575249;
}
