.footercards {
    color: $color-amarillo-secundario;

    & ul {
        list-style: none;
        font-weight: bolder;
    }
}

.datosContacto {
    & img {
        width: 25px;
    }

    & h4 {
        font-weight: bold;
        text-decoration: underline;
    }

    & a {
        text-decoration: none;
        color: $color-amarillo-secundario;
        font-weight: bolder;
    }
}

.contact_Icons {
    fill: $color-verde-iconos;
}

.mapa {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;

    & iframe {
        border-radius: 10px;
        width: 200px;
        height: 110px;
        filter: sepia(70%)
    }
}

.horario {
    padding-bottom: 1em;

    & h4 {
        font-weight: bold;
        text-decoration: underline;
    }

    & p {
        padding: 0px;
        margin: 0px;
    }
}


.firma {
    font-size: x-small;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bolder;

    & p {
        margin-top: 0rem;
    }
}




#footerNav {
    display: none;
}