// Pre Encabezado
.pre-header {
    background-color: $color-slate-900;
    text-align: center;
    & h4 {
        font-weight: bold;
        font-size: large;
        padding-top: 2px;
        padding-bottom: 2px;
        color: $color-slate-300;
    }
}

// Logo

.logo {
    &-container {
        display: grid;
        padding-left: 30px;
        grid-template-columns: auto 1fr;
        grid-column-gap: 10px;
        align-items: center;
        & img {
            width: 75px;
            height: 80px;
        }
    }
    &-text {
        &-title{
            color: $color-amarillo-primario;
            font-size: xx-large;
            margin-bottom: 0px;
        }
        
        &-subtitle {
            color: $color-amarillo-primario;
            margin-bottom: 0px;
            font-size: medium;
        }
    }
}
