@media only screen and (max-width: 1028px) {
    .base-frame {
        position: inherit;
        z-index: 1;
    }

    .base-content {
        margin-top: 0;
        margin-bottom: 26em;
    }

    .hero-section {
        padding: 24px;
        margin-top: 0;
    }

    .formularioContacto {
        margin-top: 0em;
    }

    .indiceDoc {
        margin-top: 0em;
        margin-bottom: 30em;
    }
}

@media only screen and (max-width: 768px) {

    .indiceDoc {
        height: auto;
        margin-top: 0;
    }
    .formularioContacto {
        height: auto;
        margin-top: 0;
        margin-bottom: auto;
    }

    #footerNav {
        display: flex;
    }
    .accordions-container {
        display: flex;
        padding-top: 15%;
    }
    .contactFormCont {
        display: flex;
        flex-direction: column;
    }

    .contactoInputsCont {
        display: flex;
        flex-direction: column;
        margin-left: 0.5em;
    }
    .base-footer {
        z-index: 1;
        position: inherit;
    }

    .contactoInputs {
        width: 100%;
    }

    #horarioContacto, .tabs-container , .datosContactoForm{
        display: none;
    }

    .noticia-cards-container,
    .enlacesCont,
    .formularioContacto, .noticia-cards-item{
        padding: 0px;
        border-radius: 10px;
        width: 100%;
        margin-left: 0%;
    }
    .enlaceCard {
        margin: 10px 0px;
    }

}

@media only screen and (max-width: 620px) {
    .container {
        padding-left: 3px;
        padding-right: 3px;
    }

    .navbar {
        &-menu {
            position: fixed;
            left: -100%;
            flex-direction: column;
            background-color: #57524963;
            width: 70%;
            margin-left: 30%;
            padding-right: 5%;
            border-radius: 10px;
            text-align: right;
            transition: 0.3s;
            box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            top: 8em;
            z-index: 999;

            &.active {
                left: 0;
            }
        }

        &-item {
            margin: 0.3rem 0;
        }
    }


    .hamburgersa {
        display: block;
        cursor: pointer;
    }


    #tramites-card-container{
        padding: 0;
    }
    .tramoite-card-item{
        padding: 0;
    }

}

@media only screen and (max-width: 453px) {
    .navbar-menu {
        top: 16em;
    }
.container{
    padding: 0;
    margin: 0;
}
#tarjetasTramites {
    padding: 0;
    margin: 0;
}

}

@media only screen and (max-width: 320px) {
    .navbar-menu {
        top: 18em;
    }
}

@media only screen and (min-width: 1441px) {
    #tarjetasTramites {
        margin: 15%;
        margin-top: 0;
    }
}
