html {
    color-scheme: light;
    scroll-behavior: smooth;
}

html,
body {
    overflow-y: auto;
    overflow-x: hidden;
}


body {
    position: relative;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: $color-slate-500;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    background-color: $color-slate-100;
    // Imagen de fondo para todo el sitio
    background-image: url(../../img/backgrounds/moais-bg.jpeg);
    background-repeat: repeat;
    backdrop-filter: url(../../img/backgrounds/moais-bg.jpeg)blur(10px) opacity(99%);
    background-size: 100vw;
}

// DEFAULT STYLES
img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $color-amarillo-primario;
}

