
.container{
    width: 100%;
    display: block;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .flex-container {
    gap: 16px;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    &-col {
      flex-direction: column;
      justify-content: center;
      align-content: space-between;
    }
    &-header {
      @extend .flex-container;
      justify-content: space-around;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &.wrap {
      flex-wrap: wrap;
    }
  }